.bg-light-blue {
  background-color: #50caff;
}
.bg-dark-blue {
  background-color: #003b72;
}
.bg-purple {
  background-color: #7761ff;
}
.color-purple {
  color: #7761ff;
}
.color-light-blue {
  color: #50caff;
}

.content-h-full {
  max-height: calc(100vh - 3.5rem);
}
.digitalCard:hover > .digitalCard__Icon {
  background-color: #50caff;
  color: white;
}
.digitalCard:hover .digitalCard__Bullet {
  background-color: #50caff;
}
.digitalCard:hover .digitalCard__Description {
  border-color: #50caff;
}
.digitalCard:hover {
  border-color: #50caff;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity ease-in-out 0.5s;
}
