.bg-light-blue {
  background-color: #50caff;
}
.bg-dark-blue {
  background-color: #003b72;
}
.bg-purple {
  background-color: #7761ff;
}
.color-purple {
  color: #7761ff;
}
.color-light-blue {
  color: #50caff;
}

.content-h-full {
  max-height: calc(100vh - 3.5rem);
}
.digitalCard:hover > .digitalCard__Icon {
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
  background-color: #50caff;
  color: white;
}
.digitalCard:hover .digitalCard__Bullet {
  transition: background-color ease-in-out 0.3s;
  background-color: #50caff;
}
.digitalCard:hover .digitalCard__Description {
  transition: border-color ease-in-out 0.3s;
  border-color: #50caff;
}
.digitalCard:hover {
  transition: border-color ease-in-out 0.3s;
  border-color: #50caff;
}

.list-enter-active,
.list-exit-active,
.page-enter-active,
.page-exit-active {
  transition: opacity ease-in-out 0.3s;
}
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
}
.page-exit {
  opacity: 0;
}
.page-exit-active {
  opacity: 0;
}
.list-enter {
  opacity: 0;
}
.list-enter-active {
  opacity: 1;
}
.list-exit {
  opacity: 1;
}
.list-exit-active {
  opacity: 0;
}

* {
  scrollbar-width: thin;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
